body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #3b85ad;
    color: white;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    padding: 20px;
    text-align: center;
}

button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: #29517c;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #072647;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #173e67;
    color: white;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    padding: 20px;
    text-align: center;
}

button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: #26486c;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #244567;
}